:root {
    --bg-dark: #14141a;
    --bg-darker: rgba(0,0,0,0.5);
    --bg-light: #eeeeee;
    --bg-lighter: rgba(255, 255, 255, 0.5);
    --text-light: var(--bg-light);
    --text-dark:var(--bg-dark);
    --accent-color: var(--color-bungie-blue);
    --secondary-color: var(--gold);
    --color-bungie-blue: rgb(71, 156, 228);
    --color-gold: rgb(255, 218, 136);
    --color-solar: rgb(241, 111, 39); 
    --color-arc: rgb(122, 236, 243);
    --color-void: rgb(178, 131, 204);
    --color-stasis: rgb(77, 135, 255);
    --color-strand: rgb(53, 227, 102) ;
    --color-crucible : rgb(168, 0, 0);
    --color-gambit : rgb(26, 97, 61);
    --color-vanguard : rgb(29, 73, 109);
}

body {
    font-family: Inter, neue-haas-grotesk-display, "Neue Haas Grotesk Display", 'Helvetica Neue', Helvetica, Roboto, Univers, Arial, sans-serif;
    font-size: 16px;
    color: var(--text-light);
    background-color: var(--bg-dark);
    padding: 0; margin: 0;
}

h1 { font-size:3rem; margin:0; }
h2 { margin: 0;
    font-weight: 400;
    font-size:2rem;
}
h3 { margin: 1rem 0;
    text-transform: uppercase; 
    line-height: 1.5rem;}

a { color: var(--accent-color);}

pre { background: var(--bg-darker); padding:0.5rem;
    word-wrap: normal;
    tab-size:4; 
    overflow:scroll }

p { padding: 0.2rem auto; margin: 0.2rem auto}

hr { 
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--bg-lighter), rgba(0,0,0,0));
}

.text-sm {font-size:0.8em}
.text-lg {font-size:1.8em}
.text-xl {font-size:3em}

.dimmed { opacity: 0.65; transition: opacity linear 100ms;}

.button {
    border: 1px solid var(--color-bungie-blue);
    background-color: rgba(121, 121, 121, 0.1);
    padding: 0.5rem;
    display:block;
    text-decoration: none;
    width:fit-content;
    box-sizing: border-box;
    transition: all linear 100ms;
}
.button:hover {
    background-color: var(--color-bungie-blue);
    color: var(--text-dark);
}

input { 
    color: var(--text-light);
    font-size: 1rem;
    font-family: inherit;
    background: var(--bg-dark);
    border: 1px solid var(--color-bungie-blue);

}

.text-bungie-blue {
    color: var(--color-bungie-blue);
}
.text-gold {
    color: var(--color-gold);
}

img.icon {
    vertical-align: middle;
    height: 1.5em;
    width: 1.5em;
}
.material-icons {
    font-size:1.5em;
    vertical-align: middle;
}
.destiny-symbols {
    font-family: 'Destiny Keys';
}
.destiny-power-symbol {
    font-size: 70%;
    vertical-align: top;
}

.text-columns-3 {
    columns: 3;
}

div.grid-container { 
    display: grid;
    grid-template-columns: repeat(6, 195px);
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 20px; 
}

div.grid-tile {
    /* min-height: 150px; */
    margin-bottom: 1rem;
    /* background: linear-gradient(-30deg, rgba(69,69,69,0) 28%, rgba(124, 124, 124, 0.158) 79%); */
}
.grid-span-whole {
    grid-column: span 6;
}
.grid-span-4 {
    grid-column: 2 / span 4;
    grid-column-start: 2;
}
.grid-span-3 {
    grid-column-end: span 3;
}
.grid-span-2 {
    grid-column-end: span 2;
}
.grid-start-col2 {
    grid-column-start: 2;
}
.grid-placeholder {
    border: 2px solid rgba(255, 196, 0, 0.5);
    background-color: rgba(121, 121, 121, 0.1);
}
.grid-header {
    margin-top:2rem;
}

#main-navbar {
    background: var(--bg-darker);
    padding: 1rem; margin: 0;
    text-align:center;
}

#app-logo { color: var(--text-light); text-transform: uppercase; font-weight: 700; text-decoration: none;}

#main-content {
    width: fit-content;
    margin: 2rem auto;
}

img.platform-icon {
    height: 0.8em;
    vertical-align:baseline;
    /* background-color: #000; */
    border-radius: 50%;
    padding: 1px;
    /* box-shadow: 0 0 2px #000 ; */
}

.player-profile {
    /* max-width: 40rem; */
    margin:2rem auto 1rem;
}

.guardian-rank-roundel {
    color:var(--text-dark);
    background-color: var(--bg-light);
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    display: inline-block;
    text-align: center;
    font-weight: 600;
}

.character-container {
    width:fit-content;
    margin:auto;
}
.character-slot {
    max-width: 400px;
    background-position: center;
}
.character-emblem {
    height:82px;
    width: 400px;
    padding:0;
    background-repeat: no-repeat;
    background-position: 0 0 ;
    background-size:contain;
}
.character-emblem-text {
    padding:0.5rem 0.5rem 0.5rem 82px ;
    margin: 0;
    text-shadow: 1px 1px 2px var(--text-dark);
}
.character-emblem-lightlevel {
    float:right;
    color: var(--color-gold);
    margin: 0; padding-right:0.25rem;
}
.character-title {
    background-color: rgba(68, 11, 73, 0.75);
    color: rgb(210, 141, 216);
    margin: 2px 0;
    border-top: 1px solid rgb(210, 141, 216);
    border-bottom: 1px solid rgb(210, 141, 216);
    font-weight: 500;
    font-style: italic;
    padding:0.5rem;
}

.character-titan {
    background-image: url('../images/pattern-titan.png');
}
.character-warlock {
    background-image: url('../images/pattern-warlock.png');
}
.character-hunter {
    background-image: url('../images/pattern-hunter.png');
}

ul.character-statistics {
    list-style-type: none;
    padding:0; margin: 0;
}
.character-statistics li {
    margin: 0; padding:0.5rem;
    line-height: 24px;
}

.metric-complete .metric-value {
    color: var(--color-gold);
}