:root {
    --bg-dark: #14141a;
    --bg-darker: rgba(0,0,0,0.5);
    --bg-light: #eee;
    --text-light: var(--bg-light);
    --text-dark:var(--bg-dark);
    --accent-color: var(--bungie-blue);
    --secondary-color: var(--gold);
    --bungie-blue: rgb(71, 156, 228);
    --gold: rgb(255, 218, 136);
}

body {
    font-family: Inter, neue-haas-grotesk-display, "Neue Haas Grotesk Display", 'Helvetica Neue', Helvetica, Roboto, Univers, Arial, sans-serif;
    font-size: 16px;
    color: var(--text-light);
    background-color: var(--bg-dark);
    padding: 0; margin: 0;
}

h1 { font-size:3rem; }
h2 { margin: 0;
    font-weight: 400;
    font-size:2rem;
}
h3 { margin: 1rem 0;
    text-transform: uppercase; 
    line-height: 1.5rem;}

a { color: var(--accent-color);}

pre { background: var(--bg-darker); padding:0.5rem;
    word-wrap: normal;
    tab-size:4; 
    overflow:scroll }

.dimmed { opacity: 0.65; transition: opacity linear 100ms;}

.button {
    border: 1px solid var(--bungie-blue);
    background-color: rgba(121, 121, 121, 0.1);
    padding: 0.5rem;
    display:block;
    text-decoration: none;
    width:fit-content;
    box-sizing: border-box;
    transition: all linear 100ms;
}
.button:hover {
    background-color: var(--bungie-blue);
    color: var(--text-dark);
}

input { 
    color: var(--text-light);
    font-size: 1rem;
    font-family: inherit;
    background: var(--bg-dark);
    border: 1px solid var(--bungie-blue);

}

.text-bungie-blue {
    color: var(--bungie-blue);
}
.text-gold {
    color: var(--gold);
}

img.icon {
    vertical-align: middle;
    height: 1.5em;
    width: 1.5em;
}
.material-icons {
    font-size:24px;
    vertical-align: middle;
}
.destiny-symbols {
    font-family: 'Destiny Keys';
}
.destiny-power-symbol {
    font-size: 70%;
    vertical-align: top;
}

.text-columns-3 {
    columns: 3;
}

div.grid-container { 
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: auto;
    column-gap: 1rem;
    
}
div.grid-tile {
    min-height: 150px;
    margin-bottom: 1rem;
    /* background: linear-gradient(-30deg, rgba(69,69,69,0) 28%, rgba(124, 124, 124, 0.158) 79%); */
}
.grid-span-whole {
    grid-column: span 3;
}
.grid-placeholder {
    border: 2px solid rgba(255, 196, 0, 0.5);
    background-color: rgba(121, 121, 121, 0.1);
}

#main-navbar {
    background: var(--bg-darker);
    padding: 1rem; margin: 0;
    text-align:center;
}

#app-logo { color: var(--text-light); text-transform: uppercase; font-weight: 700; text-decoration: none;}

#main-content {
    width: fit-content;
    margin: 2rem auto;
}

img.platform-icon {
    height: 0.8em;
    vertical-align:baseline;
    /* background-color: #000; */
    border-radius: 50%;
    padding: 1px;
    /* box-shadow: 0 0 2px #000 ; */
}

.player-profile {
    /* max-width: 40rem; */
    margin:2rem auto 1rem;
}

.player-bungiename {
    margin:1rem 0 0;
    word-wrap: break-word;
}

.guardian-rank {
    float:right;
    text-transform: uppercase;
    font-weight: 600;
}
.guardian-rank-roundel {
    color:var(--text-dark);
    background-color: var(--bg-light);
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    text-align: center;
    font-weight: 600;
}

.character-container {
    width:fit-content;
    margin:auto;
}
.character-slot {
    max-width: 400px;
    background-position: center;
}
.character-emblem {
    height:82px;
    width: 400px;
    padding:0;
    background-repeat: no-repeat;
    background-position: 0 0 ;
    background-size:contain;
}
.character-emblem-text {
    padding:0.5rem 0.5rem 0.5rem 82px ;
    margin: 0;
    text-shadow: 1px 1px 2px var(--text-dark);
}
.character-emblem-lightlevel {
    float:right;
    color: var(--secondary-color);
    margin: 0; padding-right:0.25rem;
}
.character-title {
    background-color: rgba(68, 11, 73, 0.75);
    color: hsl(295, 49%, 70%);
    font-weight: 500;
    font-style: italic;
    padding:0.5rem;
}

.character-titan {
    background-image: url('../images/pattern-titan.png');
}
.character-warlock {
    background-image: url('../images/pattern-warlock.png');
}
.character-hunter {
    background-image: url('../images/pattern-hunter.png');
}

ul.character-statistics {
    list-style-type: none;
    padding:0; margin: 0;
}
.character-statistics li {
    margin: 0; padding:0.5rem;
    line-height: 24px;
}

.metric-complete .metric-value {
    color: var(--gold);
}